/*debut footer*/
body{
	padding: 0px;
	margin: 0px;
}
/*h1{
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #B3B6B7;
}*/

.inner_footer{
	margin: 0;
	padding: 0;
	background-color: #5D6D7E;
}
.social_links{
	display: flex;
}
.social_links ul{
	display: flex;
	padding: 10px;
	width: 300px;
	height: 30px;
	margin: auto;
	display: flex;
}
.social-items{
	list-style: none;
}
.social-items a{
	padding: 10px 20px;
	font-size: 35px;
	color: #CB4335;
	width: 300px;
	height: 30px;
	margin: auto;
}
.quick-links{
	display: flex;
}
.quick-links ul{
	display: flex;
}
.quick-items{
	list-style: none;
}
.quick-items a{
	text-decoration: none;
	padding: 0px 15px;
	font-size: 18px;
	color: white;
}
.quick-items a:hover{
	color: yellow;
}
.out-footer{
	padding: 10px;
	text-align: center;
	color: #F0F3F4;
	font-size: 10px;
	background-color: #F6DDCC;
}

/*fin footer*/